<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/__PATH__/__CSS__/style.css">
</head>
<body>

<div class="container-fluid">
    <div class="row" style="text-align:center;margin-top: 10%">
        <div class="col-md-4 row-index box-admin">
            <h1>{$Think.lang.login_text}</h1>
            <form role="form" action="{:url('/admin/login')}" method="post">
                <div class="form-group">
                    <label for="InputName">
                        {$Think.lang.login_name}
                    </label>
                    <input type="text" onblur="checkInput(this);" class="form-control" name="admin_username" id="InputName" />
                </div>
                <div class="form-group">

                    <label for="InputPassword">
                        {$Think.lang.login_password}
                    </label>
                    <input type="password" onblur="checkPassword(this);" class="form-control" id="InputPassword" />
                    <input type="password" class="form-control d-none" name="admin_password" id="InputPasswordMd5" />
                </div>
                <button type="submit" class="btn btn-primary">
                    {$Think.lang.system_submit}
                </button>
            </form>
            <span style="color:#FFF;display:block;float:right;" >
            <a href="{:url('/admin/lang',['language'=>'zh-cn'])}"><img  alt="" src="/__PATH__/__IMAGES__/cn.png"></a>
            <a href="{:url('/admin/lang',['language'=>'en-us'])}"><img  alt="" src="/__PATH__/__IMAGES__/uk.jpg"></a>
            </span>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
<script type="text/javascript">
    function checkInput(dom)
    {
        let name = dom.getAttribute("name");
        if(dom.value==""||dom.value=="empty" || dom.value==null)
        {
            alert(name+"不能为空和empty\n"+name+"can not be empty or null.");
            dom.focus();
        }
    }

    function checkPassword(dom)
    {
        let pwd = document.getElementById('InputPasswordMd5');
        let pwdmd5 = md5(dom.value);
        pwd.value = pwdmd5;
    }
</script>
</body>
</html>