<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li class="list-item">
                    Lorem ipsum dolor sit amet
                </li>
                <li class="list-item">
                    Consectetur adipiscing elit
                </li>
                <li class="list-item">
                    Integer molestie lorem at massa
                </li>
                <li class="list-item">
                    Facilisis in pretium nisl aliquet
                </li>
                <li class="list-item">
                    Nulla volutpat aliquam velit
                </li>
                <li class="list-item">
                    Faucibus porta lacus fringilla vel
                </li>
                <li class="list-item">
                    Aenean sit amet erat nunc
                </li>
                <li class="list-item">
                    Eget porttitor lorem
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>
                Heading
            </h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
</footer>