{extend name="common/base"/}

{block name="content"}
<div class="row" style="">
    <div class="col-md-12 box-admin">
        <div class="page-breadcrumbs">
            <div class="breadcrumb">
                <h1>{$Think.lang.about_about}</h1>
            </div>
        </div>

        <dl>
            <dt>
                {$Think.lang.about_developer}
            </dt>
            <dd>
                {$Think.lang.about_developer_text}
            </dd>
            <dt>
                {$Think.lang.about_system}
            </dt>
            <dd>
                {$Think.lang.about_system_text}
            </dd>
        </dl>
    </div>
</div>
{/block}

{block name="script"}

{/block}